# for HackyFluidState
public-f net.minecraft.world.level.material.FluidState
public net.minecraft.world.level.block.state.StateHolder propertiesCodec # propertiesCodec
public-f net.minecraft.world.level.block.Block stateDefinition # stateDefinition

public net.minecraft.world.level.block.Block LOGGER # LOGGER

public net.minecraft.client.renderer.RenderStateShard$ShaderStateShard
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard

public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create
public net.minecraft.client.renderer.RenderType$CompositeState

public net.minecraft.core.particles.SimpleParticleType

public net.minecraft.world.level.levelgen.structure.structures.NetherFortressPieces$NetherBridgePiece
public net.minecraft.world.level.levelgen.structure.structures.NetherFortressPieces$PieceWeight

public net.minecraft.world.level.block.TrapDoorBlock playSound(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Z)V # playSound
public net.minecraft.world.level.block.DoorBlock playSound(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Z)V # playSound
public net.minecraft.client.renderer.LevelRenderer skyBuffer # skyBuffer

public net.minecraft.client.renderer.LevelRenderer SUN_LOCATION # SUN_LOCATION
public net.minecraft.client.renderer.LevelRenderer MOON_LOCATION # MOON_LOCATION
public net.minecraft.client.renderer.LevelRenderer starBuffer # starBuffer
public net.minecraft.client.renderer.LevelRenderer darkBuffer # darkBuffer
public net.minecraft.client.renderer.RenderStateShard$LayeringStateShard
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplateManager$Source
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplateManager$Source <init>(Ljava/util/function/Function;Ljava/util/function/Supplier;)V # <init>
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplateManager$InputStreamOpener

public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate palettes # palettes
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate entityInfoList # entityInfoList
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate$SimplePalette

public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate$SimplePalette <init>()V # <init>
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate$Palette <init>(Ljava/util/List;)V # <init>
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate addToLists(Lnet/minecraft/world/level/levelgen/structure/templatesystem/StructureTemplate$StructureBlockInfo;Ljava/util/List;Ljava/util/List;Ljava/util/List;)V # addToLists
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate buildInfoList(Ljava/util/List;Ljava/util/List;Ljava/util/List;)Ljava/util/List; # buildInfoList
public net.minecraft.world.level.storage.loot.predicates.ExplosionCondition INSTANCE # INSTANCE

public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier

public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V # <int>
public net.minecraft.world.inventory.MenuType$MenuSupplier

public net.minecraft.world.item.CreativeModeTab$TabVisibility
